.pageevalform {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    &__left {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(235, 235, 235);
        position: fixed;
        padding: 4rem;
        width: 25%;
        height: 100vh;
        align-content: start;
    }
    &__right {
        
    }
}
    
.listeetudiants {
    display: flex;
    flex-wrap: wrap;
    &__el {
        list-style: none;
        min-width: 20%;
        background-color: pink;
        margin-inline-end: 0.2rem;
        margin-block: .2rem;
    }
}

.contenueval {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.resumesession {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    justify-content: space-between;
}
.evalcases {
    display: flex;
    flex-wrap: wrap;
}
.evalcase {
    background-color: aqua;
    padding: 0.5rem;
    margin: 0.5rem;
}

.listeevalsession {
    width: 100%;
}
.listeevalsession_el {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 2rem;
    padding: 1rem;
    background-color: pink;
    justify-content: space-between;
}

.done {
    background-color: Blue;
}

.notdone {
    background-color: red;
}

.infoeval {
    text-align: right;
}