.test {
  background-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

.page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}
.page__left {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(235, 235, 235);
  position: fixed;
  padding: 4rem;
  width: 45%;
  height: 100vh;
  align-content: start;
}
.page__left__profil {
  width: 100%;
  height: 10rem;
  margin-block: 3rem;
  background-color: rgb(214, 214, 214);
  display: flex;
  flex-wrap: wrap;
}
.page__left__profil__pic {
  height: 100%;
  width: 6rem;
}
.page__left__notif {
  width: 100%;
  height: 20rem;
  background-color: rgb(214, 214, 214);
}
.page__left__notif ul {
  list-style: none;
}
.page__left__notif li {
  padding-inline: 1rem;
}
.page__right {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 249, 249);
  width: 55%;
  margin-left: 45%;
  justify-content: center;
  align-items: center;
}
.page__right__formations h3 {
  margin-block-end: 1rem;
}
.page__right__formations__item {
  margin-block-end: 1rem;
}
.page__right__formations__item__evals {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.page__right__formations__item__evals__item {
  width: 25%;
  padding: 1rem;
  margin-block: 1rem;
  margin-inline-end: 1rem;
  border: 1px solid black;
}
.page__right .connectBtn {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.formulaire {
  width: 100%;
}
.formulaire__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 7rem;
}
.formulaire__header__nav {
  width: 30%;
  padding-inline-start: 2rem;
}
.formulaire__header__info {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: end;
}
.formulaire__header__info__item {
  padding-inline: 2rem;
  border: 1px solid black;
  border-style: none solid none none;
}
.formulaire__header__info__item:last-child {
  border: none;
}
.formulaire__form {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(209, 209, 209);
  width: 100%;
  height: calc(100vh - 14rem);
  text-align: center;
  justify-content: center;
  padding: 0.8rem;
}
.formulaire__form__valid {
  padding: 0.8rem 1rem;
  height: 4rem;
  border-radius: 0.8rem;
  margin-inline: 10rem;
}
.formulaire__form__fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.formulaire__form__fieldset h1 {
  width: 100%;
}
.formulaire__form__fieldset p {
  width: 100%;
}
.formulaire__form__fieldset label {
  width: 17%;
  height: 18rem;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
}
.formulaire__form__fieldset input[type=radio] {
  display: none;
}
.formulaire__form__fieldset input[type=radio]:checked + label {
  border: 2px solid green;
}
.formulaire__footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 7rem;
  justify-content: space-evenly;
  align-content: space-evenly;
}

output {
  background-color: #2375D6;
  color: white;
  padding: 1px 3px 1px 3px;
  border-radius: 2px;
}

.listeetudiants {
  display: flex;
  flex-wrap: wrap;
}
.listeetudiants__el {
  list-style: none;
  min-width: 20%;
  background-color: pink;
  margin-inline-end: 0.2rem;
  margin-block: 0.2rem;
}

.contenueval {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.resumesession {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  justify-content: space-between;
}

.evalcases {
  display: flex;
  flex-wrap: wrap;
}

.evalcase {
  background-color: aqua;
  padding: 0.5rem;
  margin: 0.5rem;
}

.listeevalsession {
  width: 100%;
}

.listeevalsession_el {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 2rem;
  padding: 1rem;
  background-color: pink;
  justify-content: space-between;
}

.done {
  background-color: Blue;
}

.notdone {
  background-color: red;
}

.infoeval {
  text-align: right;
}

.pageevalform {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.pageevalform__left {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(235, 235, 235);
  position: fixed;
  padding: 4rem;
  width: 25%;
  height: 100vh;
  align-content: start;
  justify-content: end;
}
.pageevalform__right {
  margin-inline-start: 25%;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  background-color: rgb(255, 255, 255);
}
.pageevalform__right__top {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
}
.pageevalform__right__top__etud {
  width: 30%;
  text-align: right;
  padding-inline: 2rem;
}
.pageevalform__right__top__form {
  width: 70%;
  padding-inline: 2rem;
}
.pageevalform__right__mid {
  width: 100%;
}
.pageevalform__right__bot {
  width: 100%;
  display: flex;
  justify-content: end;
}

.validform {
  background-color: blue;
  color: white;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
}

output {
  background-color: #2375D6;
  color: white;
  padding: 1px 3px 1px 3px;
  border-radius: 2px;
}

.chart {
  width: 40rem;
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */